.exchanges {
    @include has('key') {
        text-align: center;

        @include bp(em(850)) {
            margin-bottom: rem(20);
        }
    }

    @include has('key-item') {
        border: 1px solid transparent;
        border-radius: rem(30);
        display: inline-block;
        font-size: rem(18);
        height: rem(18);
        line-height: rem(18);
        margin-left: rem(12.5);
        margin-right: rem(12.5);
        padding: rem(5) rem(20) rem(5) rem(5);
        transition: all 350ms;

        &:before {
            border-radius: 50%;
            content: "";
            display: block;
            float: left;
            height: rem(18);
            margin-right: rem(18);
            transition: background 350ms;
            width: rem(18);
        }

        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
            text-decoration: underline;
        }

        &.active {
            color: $white;

            &:hover,
            &:active,
            &:focus {
                cursor: default;
                text-decoration: none;
            }
        }

        @include when('sending') {
            border-color: $blue;

            &:hover,
            &:active,
            &:focus {
                background: $blue;
                color: $white;

                &:before {
                    background: $white;
                }
            }

            &:before {
                background: $blue;
            }

            &.active {
                background: $blue;

                &:before {
                    background: $white;
                }
            }
        }

        @include when('receiving') {
            border-color: $gold;

            &:hover,
            &:active,
            &:focus {
                background: $gold;
                color: $white;

                &:before {
                    background: $white;
                }
            }

            &:before {
                background: $gold;
            }

            &.active {
                background: $gold;

                &:before {
                    background: $white;
                }
            }
        }

        @include bp(em(720)) {
            display: block;
            margin: 0 auto rem(10);
            width: rem(220);
        }
    }
 
}
