.transactions {
    overflow: hidden;
    padding: 0 rem(70);

    @media (max-width: 62.5em) {
        padding: 0 rem(20);
    }

    .exchanges__key {
        margin-top: rem(30);
    }

    &__container {
        overflow: hidden;
        position: relative;
    }

    &__countries {
        overflow: hidden;
    }

    &__instruction {
        font-size: rem(22);
        font-weight: bold;
        line-height: rem(26);
        margin: rem(20) 0;
        transition: opacity 350ms;

        &.hide {
            opacity: 0;
        }
    }

    &__country {
        float: left;
        height: rem(22);
        padding-bottom: 6.666%;
        position: relative;
        transition: opacity 350ms;
        width: 6.666%;

        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
        }

        &.active {
            &:hover,
            &:active,
            &:focus {
                cursor: default;
            }
        }

        &:nth-child(15n + 1) {
            clear: both;
        }

        @media (max-width: 62.5em) {
            padding-bottom: 10%;
            width: 10%;

            &:nth-child(15n + 1) {
                clear: none;
            }

            &:nth-child(10n + 1) {
                clear: both;
            }
        }

        @media (max-width: 46em) {
            padding-bottom: 20%;
            width: 20%;

            &:nth-child(5n + 1) {
                clear: both;
            }
        }
    }

    &__name {
        display: block;
        font-size: rem(12);
        font-weight: bold;
        margin: rem(5) rem(5) 0;
        overflow: hidden;
        position: relative;
        text-align: center;
        text-overflow: ellipsis;
        transition: opacity 350ms;
        white-space: nowrap;
        z-index: 1;

        .hide & {
            opacity: 0;
        }

        .linked & {
            opacity: 1;
        }

        .active & {
            display: none;
        }
    }

    &__count {
        display: block;
        font-size: rem(10);
        font-weight: 300;
        opacity: 0;
        position: relative;
        text-align: center;
        transition: opacity 350ms;

        .linked & {
            opacity: 1;
        }
    }

    &__sending {
        background: $blue;

        .transactions__country:hover & {
            background: $blue-alt;
        }

        .transactions__country.active:hover & {
            background: $blue;
        }

        .linked &, .hide & {
            background: $gold;
        }
    }

    &__receiving {
        background: $gold;

        .transactions__country:hover & {
            background: $gold-alt;
        }

        .transactions__country.active:hover & {
            background: $gold;
        }

        .linked &, .hide & {
            background: $blue;
        }
    }

    &__sending, &__receiving {
        border-radius: 50%;
        display: block;
        height: 0;
        left: 50%;
        margin-top: rem(11);
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 500ms;
        width: 0;
    }

    &__active {
        background: $background;
        box-sizing: border-box;
        display: none;
        left: 0;
        line-height: 1;
        padding: rem(46) rem(70) rem(20);
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 5;

        &.active {
            display: block;
        }

        @media (max-width: 62.5em) {
            padding: rem(46) rem(20) rem(20);
        }
    }

    &__active__name {
        display: block;
        float: left;
        font-size: rem(27);
        font-weight: bold;
        line-height: rem(32);

        @media (max-width: 46em) {
            float: none;
            padding-right: rem(55);
        }
    }

    &__active__total {
        clear: both;
        color: $blue;
        display: block;
        font-size: rem(23);
        line-height: rem(28);
    }

    &__active__close {
        background: url('../../img/icon-close.svg') center/100% no-repeat;
        display: block;
        float: left;
        height: rem(15);
        margin-left: rem(60);
        margin-top: rem(5);
        width: rem(15);

        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
        }

        @media (max-width: 46em) {
            position: absolute;
            right: rem(20);
            top: rem(20);
        }
    }

    &__svg, &__canvas-container {
        bottom: 0;
        height: 100%;
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: -1;
    }
}
