.treemap {
    min-width: rem(320);
    overflow: hidden;

    &__wrapper {
        padding: 0 rem(275) rem(80) rem(130);

        .treemap.active & {
            padding: 0 rem(130) rem(80);
        }

        @media (max-width: 62.5em) {
            &, .treemap.active & {
                padding: 0 rem(20) rem(100);
            }
        }
    }

    &__container {
        height: 0;
        padding-bottom: 58%;
        position: relative;

        @media (max-width: 62.5em) {
            padding-bottom: 150%;
        }
    }

    &__node {
        font: 10px sans-serif;
        line-height: 12px;
        overflow: visible;
        position: absolute;
        text-indent: 2px;

        &:hover,
        &:active,
        &:focus {
            .treemap__node-text {
                display: block;
            }
        }
    }

    &__node-text {
        background: $white;
        color: $text;
        display: none;
        font-size: rem(18);
        line-height: rem(22);
        padding: rem(5) rem(20);
        position: fixed;
        text-transform: uppercase;
        white-space: nowrap;
        z-index: 1000;

        @media (max-width: 62.5em) {
            white-space: normal;
        }
    }

    &__country-name {
        color: $white;
        font-size: rem(12);
        line-height: rem(14);
        left: 50%;
        overflow: hidden;
        position: absolute;
        text-align: center;
        text-overflow: ellipsis;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    &__label {
        color: $text;
        display: block;
        font-size: rem(26);
        font-weight: 300;
        line-height: rem(30);
        position: absolute;
        width: rem(180);

        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
        }

        @media (max-width: 62.5em) {
            font-size: rem(18);
            line-height: rem(22);
            width: rem(150);
        }

        .treemap__container--active & {
            display: none;
        }
    }

    &__label--back {
        background: url('../../img/arrow-left.svg') left center no-repeat;
        bottom: 100%;
        display: none;
        left: rem(10);
        padding-left: rem(40);
        right: auto;
        top: auto;
        width: auto;

        .treemap__container--active & {
            display: block;
        }
    }

    &__label--hic {
        bottom: 100%;
        left: rem(10);
    }

    &__label--umic {
        left: 100%;
        top: rem(10);

        @media (max-width: 62.5em) {
            left: rem(10);
            top: 100%;
        }
    }

    &__label--lmic {
        bottom: rem(5);
        left: 100%;

        @media (max-width: 62.5em) {
            bottom: auto;
            left: auto;
            right: rem(10);
            text-align: right;
            top: 100%;
        }
    }
}
