.treemap {
    overflow: hidden;
    padding: 0 rem(275) rem(80) rem(130);

    &.active {
        padding: rem(5) rem(135) rem(85);
    }

    @media (max-width: 62.5em) {
        &, &.active {
            padding: 0 rem(20) rem(100);
        }
    }

    &__container {
        height: 0;
        padding-bottom: 58%;
        position: relative;

        @media (max-width: 62.5em) {
            padding-bottom: 150%;
        }
    }

    &__node {
        border: solid 1px white;
        font: 10px sans-serif;
        line-height: 12px;
        overflow: visible;
        position: absolute;
        text-indent: 2px;

        &:hover,
        &:active,
        &:focus {
            .treemap__node-text {
                display: block;
            }
        }
    }

    &__node-text {
        background: $white;
        color: $text;
        display: none;
        font-size: rem(18);
        line-height: rem(22);
        padding: rem(5) rem(20);
        position: fixed;
        text-transform: uppercase;
        white-space: nowrap;
        z-index: 1000;

        @media (max-width: 62.5em) {
            white-space: normal;
        }
    }

    &__label {
        color: $text;
        display: block;
        font-size: rem(26);
        font-weight: 300;
        line-height: rem(30);
        position: absolute;
        width: rem(180);

        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
        }

        .treemap__container--active & {
            background: url('../../img/arrow-left.svg') left center no-repeat;
            bottom: 100%;
            left: rem(10);
            margin-bottom: rem(5);
            padding-left: rem(40);
            right: auto;
            text-align: left;
            top: auto;
            width: auto;
        }
    }

    &__label--hic {
        bottom: 100%;
        left: rem(10);

        .treemap__container--UMIC &, .treemap__container--LMIC & {
            display: none;
        }
    }

    &__label--umic {
        left: 100%;
        top: rem(10);

        @media (max-width: 62.5em) {
            left: rem(10);
            top: 100%;
        }

        .treemap__container--HIC &, .treemap__container--LMIC & {
            display: none;
        }
    }

    &__label--lmic {
        bottom: rem(5);
        left: 100%;

        @media (max-width: 62.5em) {
            bottom: auto;
            left: auto;
            right: rem(10);
            text-align: right;
            top: 100%;
        }

        .treemap__container--UMIC &, .treemap__container--HIC & {
            display: none;
        }
    }
}
