// -----------------------------------------------------------------------------
// Mixins
// -----------------------------------------------------------------------------


// Breakpoints
// -----------------------------------------------------------------------------
@mixin bp($point) {
    @media screen and (max-width: $point) {
        @content
    }
}


// Polyfills
// -----------------------------------------------------------------------------

@mixin clearfix() {
    *zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;

        line-height: 0;
    }

    &:after {
        clear: both;
    }
}
