// -----------------------------------------------------------------------------
// Config
// -----------------------------------------------------------------------------

// Breakpoints
// --------------------------------------------------------------------------

$tablet:                                1024;
$mobile:                                750;
$min-width:                             320;

// Colours
// --------------------------------------------------------------------------

$text:                                  #474747;

$background:                            #EAEAEA;
$blue:                                  #4da7bf;
$blue-alt:                              #427c88;
$gold:                                  #dba529;
$gold-alt:                              #cf7a00; 
$white:                                 #FFFFFF;
$light-grey:                            #A5A5A5;

$blue-lighter:                          #71B9CB;
$blue-lightest:                         #95CBD7;
$gold-lighter:                          #E3B753;
$gold-lightest:                         #EBC97D;


// Fonts
// --------------------------------------------------------------------------

$font-stack:                            "proxima-nova",sans-serif;
$font-size:                             rem(16);
$line-height:                           1.25;
$font-weight:                           normal;
